.realMapImg{
    width: 65%;
    height: 410px;
    margin-left: -5%;
    margin-bottom: 30px;
}

.mountInput{
    border: 1px solid rgba(34,36,38,.15);
    width: 26%;
    margin-left: 2%;
    height: 390px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 1.4285em;
    text-align: center;
}

.m_block{
    text-align: left;
    margin-top: 10px;
}
.mountOpt{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    display: inline-block;
}

.mountKind{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.circularButton{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #6e6e6eee;
    background-size: 140%;
    outline: none;
    box-shadow: 0 0px 0px 1px #111111;
    margin-right: 10px;
}

.mountingType{
    margin-top: 25px;
    font-size: 16px;
}