.AList{
    border: 1px solid rgba(34,36,38,.15);
    width: 26%;
    margin-left: 2%;
    height: 390px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.4285em;
}

.FinalMapImg{
    height: 80%;
    margin-left: 16%; 
}

.sub_title{
    font-size: 20px;
    margin-bottom: 10px;
}

.rightP{
    width: 80%;
}