.section-title-head
{
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 42px;

}

.introduction
{
    width: 70%;
    margin-left: 15%;
    font-family: Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.intro-head{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 8px;
}

.intro-para{
    margin-top: 15px;
    margin-bottom: 40px;
    font-family:Gotham Light,"M Hei PRC W45","M Hei HK W42","M Hei HK W40","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}


.video-container
{   
    height: 100%;
    text-align:center;
}

.leftVideo{
    display: inline-block;
    margin-right: 40px;
    width:42%;
    /* height: 100%; */
}
.rightVideo{
    width: 42%;
    /* height: 100%; */
    display: inline-block;
}